@charset "UTF-8";

/*------------------FONTES--------------*/

@font-face {
  font-family: 'blanka';
  src: url(fonts/Blanka.otf);
}
@font-face {
  font-family: 'hind';
  src: url(fonts/Hind.ttf);
}
@font-face {
  font-family: 'sunday';
  src: url(fonts/Sunday\ Mango.ttf);
}
@font-face {
  font-family: 'bogimber';
  src: url(fonts/Bogimber.ttf);
}

/*------------------------------------*/




@media screen and (max-width:600px) {

  /*------------------HEADER--------------*/

  #header{
    position: none;
    top: 20px;
    width: 350px;
    height: 400px;
  }
  #header #nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    background-color: transparent;

    width: 100%;
    height: 100%;
  }
  #nav #navimg{
    display: none;
  }
  #nav #navlinks{
    display: none;
  }

  #nav #icon #iconmenu{
    display: flex;
  }
  #nav #icon .fa-bars{

    color: white;

    font-size: 2em;
    cursor: pointer;

    text-shadow:0px 0px 12px black;
  }
  #nav #icon .fa-times{
    color: var(--Cormarrom);

    font-size: 3em;
    cursor: pointer;

    text-shadow:0px 0px 15px rgba(0, 0, 0, 0.493);
  }

  /*--------------------------------------*/



  /*------------------HOME--------------*/

  #main #hometext{
    display: flex;
    align-items: center;
  
    width: 100%;
    height: 100%;
  
    background: linear-gradient(to right, rgba(0, 0, 0, 0.753) 75%, transparent);
  }
  #main #home p{
    display: flex;
    align-items: center;
  
    font-size:9vw;
    font-family: var(--fontsunday);
    color: var(--Corwhite);
  
    translate: 80px 20px;
    width: 150px;
    height: 200px;
  }
  /*--------------------------------------*/


  /*------------------SOBRE--------------*/

  #main #sobre p{
    font-size: 19px;
    text-align: justify;
  }

  /*--------------------------------------*/




  /*---------------TRABALHOS-------------*/

  #trabalhos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    width: 100vw;
    height: 100vh;
  }

  #trabalhos .trabalhogeral{
    flex-direction: column;
    gap: 0px;
  }
  #trabalhos>.trabalhogeral>i{
    display: none;
  }
  #trabalhos #trabalhosimg{
    display: flex;
    align-items: center;
    flex-direction: row;
    
    overflow-x: auto;
    transition-duration: 2s;
    
    width: 90%;
    height: 410px;
    scroll-behavior: smooth;
  }
  #trabalhosimg .trabalhosdivs:hover{
    height: 350px;
  }
  #trabalhos .trabalhogeral p{
    display: block;
    font-family: var(--fontbogimber);
    font-size: 18px;
    translate: 0px -30px;
  }

  /*--------------------------------------*/

  
  /*-----------------FOOTER---------------*/

  .footer{
    display: none;
  }

  /*--------------------------------------*/
}





/*------------------ROOT--------------*/

:root{

  /*COR*/

  --Corwhite:#ffff;
  --Cormarromclaro:#F79854;
  --Cormarrom:#8F5C38;
  /*FONTS*/

  --fontblanka:'blanka';
  --fonthind:'hind';
  --fontsunday:'sunday';
  --fontbogimber:'bogimber'
  
}

/*-----------------------------------*/




*{
  margin: 0px;
  padding: 0px;
  border: none;
  text-decoration: none;
  
}
body{
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
}


/*-------------------HEADER------------------*/

header{
  width: 100%;

  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1000;
}

#nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 100px;
  background:var(--Corwhite);
}

#navimg{
  width: 300px;
  height: 100%;

  background: transparent url(imagens/marcenarialogo.png) center center no-repeat;
  background-size:cover;

}

#navlinks{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 40vw;
  height: 100%;

}
#navlinks a{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;

  height: 40px;
  font-family: var(--fontblanka);
  color: var(--Cormarrom);
}
#navlinks a:hover{
  border-bottom: 1px solid var(--Cormarromclaro);
}
#icon{
  position: fixed;
  top: 40px;
  right: 20px;

  height: 100%;

  z-index: 1000;
}
#icon #iconmenu{
  display: none;
}

/* outro menu */
.navmenu{
  position: fixed;
  top: 0px;
  right: 0px;

  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 70%;
  height: 100%;

  background-color: var(--Corwhite);
  border-radius: 15px 0px 0px 15px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.568);
}
.navmenu img{
  width: 80%;
  height:auto;
}
#menulinks{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 50%;
  translate: 0px -50px;
}
#menulinks a{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 5px;

  font-family: var(--fontblanka);
  color: var(--Cormarrom);
  transition-duration: 0.2s;

}
#menulinks a:hover{
  border-bottom: 1px solid var(--Cormarrom);
}

#menulinksimgs{
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: row;
  width: 100%;
  gap: 10px;

  translate: 0px 50px;

}
#menulinksimgs a{
  font-size: 2.5em;
}
#menulinksimgs a:hover{
  border: none;
  color: var(--Cormarromclaro);
}

/*------------------------------------------*/




/*-------------------MAIN------------------*/

main{
  width: 100vw;
  height: 100%;
}

/*-----------------------------------------*/




/*-------------------HOME------------------*/

#home{
  display: flex;
  align-items: center;

  max-width: 100dvw;
  height: 100dvh;

  background:url(imagens/movel2.jpeg) center center no-repeat;
  background-size: cover;
}
#hometext{
  display: flex;
  align-items: center;

  width: 60%;
  height: 100%;

  background: linear-gradient(to right, rgba(0, 0, 0, 0.753) 75%, transparent);
}
#home p{
  display: flex;
  align-items: center;

  font-size:4em;
  font-family: var(--fontsunday);
  color: var(--Corwhite);

  translate: 80px 30px;
  width: 250px;
  height: 200px;
}

/*-----------------------------------------*/




/*------------------SOBRE-------------------*/

#sobre{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
  gap: 0px;
}
#sobre h1{
  font-family: var(--fontsunday);
  font-size: 4em;
  color: var(--Cormarrom);
}
#sobre p{
  font-family: var(--fonthind);
  font-size: 25px;
  
  text-align: justify;
  text-indent: 15px;
  width: 80%;
  max-width: 840px;
}

/*------------------------------------------*/




/*----------------TRABALHOS-------------------*/

#trabalhos{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
}
#trabalhos h1{
  font-family: var(--fontsunday);
  font-size: 4em;
  color: var(--Cormarrom);
  translate: 0px 110px;
}



#trabalhosimg{
  display: flex;
  align-items: center;
  padding: 10px;
  flex-direction: row;

  
  width: 80%;
  height: 500px;
  gap: 10px;
  
  overflow-x: auto;
}

#trabalhosimg::-webkit-scrollbar{
  background-color: transparent;
  display: none;
}


.trabalhosdivs{
  min-width: 200px;
  height: 300px;

  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.808);
  transition-duration: 0.8s;
}
.trabalhosdivs:hover{
  min-width: 250px;
  height: 400px;
}
/*-----AS IMAGENS-----*/
#t_div1{
  background: url(imagens/movel1.jpeg) center center no-repeat;
  background-size: cover;
}
#t_div2{
  background: url(imagens/movel2.jpeg) center center no-repeat;
  background-size: cover;
}
#t_div3{
  background: url(imagens/movel3.jpeg) center center no-repeat;
  background-size: cover;
}
#t_div4{
  background: url(imagens/movel4.jpeg) center center no-repeat;
  background-size: cover;
}
#t_div5{
  background: url(imagens/movel5.jpeg) center center no-repeat;
  background-size: cover;
}
#t_div6{
  background: url(imagens/movel6.jpeg) center center no-repeat;
  background-size: cover;
}
#t_div7{
  background: url(imagens/guarda3d.png) center center no-repeat;
  background-size: cover;
}
#t_div8{
  background: url(imagens/cama3d.png) center center no-repeat;
  background-size: cover;
}
/*--------------------*/

.trabalhogeral{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 32px;
  color: var(--Cormarrom);
  transition-duration: 1s;
  
  width: 100vw;
  height: 100%;
  
}
.trabalhogeral>i{
  cursor: pointer;
  padding: 5px;
}
.trabalhogeral>i:hover{
  color: var(--Cormarromclaro);
}
.trabalhogeral>p{
  display: none;
}

/*------------------------------------------*/




/*----------------FOOTER-------------------*/

footer{
  position: absolute;
  bottom: 0px;
  left: 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  background-color: var(--Cormarrom);
  color: var(--Corwhite);
}
footer h1{
  font-size: 2em;
  font-family: var(--fontsunday);
  margin-top: 5px;
}
#iconfooter{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  font-family: var(--fonthind);
  gap: 10px;
  font-size: 20px;
}
#iconfooter i,a{
  text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.664);
  color: var(--Corwhite);
  font-size: 30px;
}
#iconfooter i:hover{
  color: var(--Cormarromclaro);
}

/*-----------------------------------------*/