@charset "UTF-8";

@media screen and (max-width:600px) {

  #main #hometext{
    display: flex;
    align-items: center;
  
    width: 100%;
    height: 100%;
  
    background: linear-gradient(to right, rgba(0, 0, 0, 0.753) 75%, transparent);
  }

  #main #home p{
    display: flex;
    align-items: center;
  
    font-size:9vw;
    font-family: var(--fontsunday);
    color: var(--Corwhite);
  
    translate: 80px 20px;
    width: 150px;
    height: 200px;
  }

  #header #nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    background-color: transparent;
  }

  #nav #navimg{
    display: none;
  }
  #nav #navlinks{
    display: none;
  }

  #nav #icon i{
    display: flex;
    color: var(--Corwhite);

    font-size: 2em;
    cursor: pointer;

    text-shadow:0px 0px 12px black;
  }
}

@font-face {
  font-family: 'blanka';
  src: url(fonts/Blanka.otf);
}
@font-face {
  font-family: 'hind';
  src: url(fonts/Hind.ttf);
}
@font-face {
  font-family: 'sunday';
  src: url(fonts/Sunday\ Mango.ttf);
}



:root{

  /*COR*/

  --Corwhite:#ffff;
  --Cormarromclaro:#F79854;
  --Cormarrom:#8F5C38;
  /*FONTS*/

  --fontblanka:'blanka';
  --fonthind:'hind';
  --fontsunday:'sunday';
  
}

*{
  margin: 0px;
  padding: 0px;
  border: none;
  text-decoration: none;
}
body{
  position: relative;
  max-width: 100vw;
}


/*HEADER*/
header{
  max-width: 100vw;

  position: absolute;
  top: 0px;
  left: 0px;
}

#nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 100vw;
  height: 85px;
  background:var(--Corwhite);
}
#navimg{
  width: 300px;
  height: 100%;

  background: transparent url(imagens/marcenarialogo.png) center center no-repeat;
  background-size:cover;
  /*backgroud:
  color > image > position > repeat  > attachmente*/
}
#navimg a{
  width: 30vw;
  height: 100%;
}
#navlinks{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 40vw;
  height: 100%;
}
#navlinks a{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 30px;
  font-family: var(--fontblanka);
  color: var(--Cormarrom);
  transition-duration: 2s;
}
#navlinks a:hover{
  border-bottom: 1px solid var(--Cormarromclaro);
}
#icon{
  position: absolute;
  top: 40px;
  right: 20px;

  height: 100%;

  translate: 0px;
}
#icon i{
  display: none;
}


/*MAIN*/
main{
  width: 100dvw;
  height: 100%;
}
#home{
  display: flex;
  align-items: center;

  max-width: 100dvw;
  height: 100vh;

  background:url(imagens/movel2.jpeg) center center no-repeat;
  background-size: cover;
}
#hometext{
  display: flex;
  align-items: center;

  width: 60%;
  height: 100%;

  background: linear-gradient(to right, rgba(0, 0, 0, 0.753) 75%, transparent);
}
#home p{
  display: flex;
  align-items: center;

  font-size:4em;
  font-family: var(--fontsunday);
  color: var(--Corwhite);

  translate: 80px 30px;
  width: 250px;
  height: 200px;
}
